/* Шапка    */
body {
    background-color: rgb(147, 148, 149);
    border: 1px solid red;
}
header {
    width: 1100px;
    padding-top: 92px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  Меню шапки */
.header_links-list{
    display: flex;
    list-style: circle;
    gap: 33px;
    font-size: 18px;
    color: #000;
    text-underline-offset: 3px;
    margin-left: 50px;
    margin-bottom: 5px;
}
.header_links-item_no-bullit {
    list-style: none;
}
.header_menu-link {
    color: #000;
}

/* Адрес в шапке */
address {
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin-right: 50px;
    text-underline-offset: 3px;
}

/* Цвет шрифта ссылки для шапки и подвала */
.address-link, .footer_menu-link {
    color:#000;
}

/* Логотип */
.header_logo {
    margin-top: 3px;
    margin-right: 146px;
}

/* Овер */
.over {
    width: 1100px;
    min-width: 757px;
    position: relative;
    display: flex;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

/* Затемнение фона*/
.overlay {
    position: absolute;
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
    inset: 0;
    z-index: 1;
}

/* Надпись ОНО ТЕБЕ НАДО*/
.over_title {
    display: flex;
    position: relative;
    line-height: 1.15;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #fff;
    row-gap: 20px;
    flex-direction: column;
    z-index: 2;
}


/* ОНО */
.left_text {
    margin-top: 165px;
    margin-left: 50px;
}

/* ТЕБЕ */
.center_text {
margin-left: 380.5px;
}

/* НАДО */
.right_text {
   margin-left: 663px;

}


/* Надпись Аукцион вещей... */
.description {
    z-index: 2;
    display: flex;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18.5px;
    align-items: center;
    color: #fff;
    padding-top: 106px;
    padding-bottom: 50px;
    padding-left: 50px;
}

/* Кнопка */
.button {
    padding: 12px 32px 11px 31px ;
    color:#fff;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #fff;
    margin-left: 108px;
    font-family: Raleway, sans-serif;
}


/* Отступ ЛОТЫ */
.cover {
    padding-top: 180px;
    margin-left: 24px;
}

.cover_head {
    font-size: 40px;
    margin: 0 0 27px 40px;
}

/* Карточки ЛОТЫ */
.cards-list {
    position: relative;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    list-style-type: none;
    color: #fff;
}

.link_card {
    color: #fff;
    text-decoration-line: none;
}

.over_cover {
    position: relative;
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover_card {
    background-size: cover;
    background-position: center;
}
/* Фон первой карточки */
.card_film{
    background-image: url(../images/card-lot-01.jpg);
}

/* Фон второй карточки */
.card_book{
    background-image: url(../images/card-lot-02.jpg);

}

/* Фон третьей карточки */
.card_picture{
    background-image: url(../images/card-lot-03.jpg);
}

/* Заголовки карточек */
.cover_title {
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 40px;
    text-decoration: underline;
    line-height: 27px;
}

/* Тест для карточки */
.cover_text {
    z-index: 2;
    font-size: 20px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 24px;
}

.over_link  {
    position: relative;
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 155px;
    font-size: 20px;
    color:#000;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}


/* Грид сетка About */
.container { 
    margin: auto;
    width: 1052px;
    display: grid;
    gap: 8px 0;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 181px;
    grid-template-columns: 358px 1fr;
    grid-template-areas:
      "logo con_text "
      ". text"
  }
  
.logo {  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 48px;
}
.logo_white{
    width: 148px;
    height: 114px;

}
.con_text {grid-area: con_text;
}

.auction_title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
}
  
.text { 
    grid-area: text;

}

.about_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    word-spacing: 0.4px;
}
/* Отступ между параграфами */ 
.indent {
    padding-top: 24px;
}

/* Подвал footer */
footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 82px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Адрес */
.addres_footer {
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    margin-right: 54px;
    text-underline-offset: 3px;
    word-spacing: 0.5px;
}

/* Меню */
.footer_links-list {
    text-align: center;
    list-style: none;
    font-size: 18px;
    margin-right: 55px;
    text-underline-offset: 3px;
}

/* Ссылки на соц сети */
.social {
    display: flex;
    list-style: none;
    gap: 48px;
}
/*
*{
    border: 1px solid red;
  }
    */